// /* You can add global styles to this file, and also import other style files */
// DEFAULT
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Global Background and Body Styling */
html, body { height: 100%; }
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background:  black;
    color: white; 
    min-height: 100vh; 

  }
  
  .page-container {
    padding: 20px;
  }
  

  

