<mat-toolbar>
  <img src="assets/image/logo_game_escrow.png" alt="Game Escrow Logo" class="logo" 
  [routerLink]="['']"
  />
  <!-- Spacer to push items to the right -->
  <span class="spacer"></span>
  @if(loggedInUser){
    <div>
      <button id="user-btn" mat-stroked-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
        {{loggedInUser}}
      </button>
      <mat-menu #userMenu="matMenu" yPosition="below">
        <button mat-menu-item [routerLink]="['/orders']">My Trades</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
    <button id="trade-btn" mat-stroked-button [routerLink]="['/transaction/step1']">Trade</button>
  }
  @else {
    <button mat-stroked-button id="login-btn" [routerLink]="['/login']">Login</button>
    <button mat-stroked-button id="signup-btn" [routerLink]="['/register']">Sign Up</button>
  }
</mat-toolbar>
