mat-toolbar {
    background-color: black !important;
    color: white; 
  }

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 40px;
  max-height: 100%;
}

#login-btn{
  color: goldenrod;
  border-color: goldenrod;
}

#signup-btn{
  color: goldenrod;
  border-color: goldenrod;
}

#trade-btn {
  color: cyan;
  border-color: cyan;
}

#user-btn{
  color: cyan;
  border-color: cyan;
}