<mat-toolbar>
  <img src="assets/image/logo_game_escrow.png" alt="Game Escrow Logo" class="logo" />
  <!-- Spacer to push items to the right -->
  <span class="spacer"></span>
  <button mat-button [routerLink]="['/login']">Login</button>
  <button mat-stroked-button color="accent" [routerLink]="['/registration']">Sign Up</button>
</mat-toolbar>

<!-- OLD -->
<!-- <mat-toolbar color="primary"> -->
    <!-- Home Icon -->
    <!-- <button mat-icon-button routerLink="/header" aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
  
    <span class="spacer"></span> -->
  
    <!-- Person Icon with Dropdown Menu -->
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User Options">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar> -->
  
  <!-- Dropdown Menu -->
  <!-- <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/account">
      <mat-icon>account_circle</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item routerLink="/orders">
      <mat-icon>shopping_cart</mat-icon>
      <span [routerLink]="['/orders']">Orders</span>
    </button>
  </mat-menu> -->
  
<!-- <a [routerLink]="['/login']">login</a>
<br>
<a [routerLink]="['/transaction-parent']">trade</a> -->
<!-- OLD -->