<div class="container">
    <h2>Review & Accept</h2>
    <p>Transaction ID = 
        <span>
            {{transaction.transactionID}}
        </span>
    </p>
    <p>Buyer = 
        <span>
            {{transaction.buyer}}        
        </span>
    </p>
    <p>Seller = 
        <span>
            {{transaction.seller}}        
        </span>
    </p>
    <p>Game =
        <span>
            {{transaction.game.gameName}}
        </span> 
    </p>
    <p>Game Asset = 
        <span>
            {{transaction.game.assetType}}
        </span>
    </p>
    @if(transaction.game.assetName){
        <p>Asset Name = 
            <span>
                {{transaction.game.assetName}}
            </span>
        </p>
    }
    @else if(transaction.game.assetQuantity){
        <p>Asset Quantity =
            <span>
                {{transaction.game.assetQuantity}}
            </span>
        </p>
    }
    <p>Price = 
        <span>
            SGD {{transaction.price}}
        </span>
    </p>
    <button mat-stroked-button class="accept-btn" type="button" (click)="acceptTrade()">
        Accept
  </button>
  <p [ngClass]="{'failure-msg': !acceptTradeSuccess}">{{ acceptTradeStatusMessage }}</p>
</div>