<div class="tabs-container">
  <mat-tab-group>
    <mat-tab label="Pending Action">
      <mat-list role="list">
        @for(transaction of transactionsPendingUserAction; track
        transaction.transactionID){
        <mat-list-item role="listitem" class="list-item"  [routerLink]="['/transaction-parent',transaction.transactionID]">
          <div class="list-content">
            <img
              [src]="'assets/image/games/' + transaction.game.gameName + '.png'"
              alt="game"
              class="game-image"
            />
            <div class="transaction-info">
              <span class="game-name">{{ transaction.game.gameName }}</span>
              <span class="transaction-id"
                >Transaction ID {{ transaction.transactionID }}</span
              >
              <span class="counterparty">{{
                transaction.buyer === loggedInUser
                  ? transaction.seller
                  : transaction.buyer
              }}</span>
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-tab>
    <mat-tab label="Pending Other Party">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-tab>
    <mat-tab label="Completed">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-tab>
  </mat-tab-group>
</div>
