.tabs-container {
  max-width: 700px;
  margin: 0 auto;
}

::ng-deep .mat-badge-content {
  background-color: cyan !important;
  color: black !important;         

}

::ng-deep .mdc-tab--active .mdc-tab__text-label {
  font-weight: bold;
}
/* mat-tab-group {
  width: 100%;
} */

.list-item {
  display: flex;
  align-items: center; 
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1c1c1c;
}

.list-content {
  display: flex;
  align-items: center;
  width: 100%; 
}

.transaction-info {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  width: 100%;
}

.transaction-id,
.game-name,
.pending-accept-trade,
.pending-payment,
.pending-receive-item,
.completed-date,
.status {
  color:white;
  font-size: 14px; 
}

.pending-accept-trade {
  color:white;
}

.pending-payment{
  color: goldenrod;
}

.pending-receive-item{
  color: beige;
}

.game-name {
  flex: 1;
  text-align: left;
  margin-right: 10px;

}

.transaction-id {
  flex: 2;
  text-align:center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  flex: 1; 
  text-align: right;
}

.game-image {
  width: 50px;
  /* height: 50px; */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 5px;
}