<div class="tabs-container">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        Pending Your Action
        <span
          matBadge="{{ transactionsPendingUserAction.length }}"
          matBadgeOverlap="false"
          matBadgePosition="below after"
        ></span>
      </ng-template>
      <mat-list role="list">
        @for(transaction of transactionsPendingUserAction; track
        transaction.transactionID){
        <mat-list-item role="listitem" class="list-item" [routerLink]="['/transaction-parent', transaction.transactionID]">
          <div class="list-content">
            <img [src]="transaction.game.gameImagePath" alt="game" class="game-image"/>
            <div class="transaction-info">
              <span class="game-name">{{ transaction.game.gameName }}</span>
              <span class="transaction-id">ID {{ transaction.transactionID }}</span>
              <div>
                @if(transaction.currentStep === 2 && transaction.counterparty === loggedInUser){
                  <span class="pending-accept-trade">pending accept trade</span>
                }
                @else if (transaction.currentStep === 3 && transaction.buyer === loggedInUser){
                  <span class="pending-payment">pending pay escrow</span>
                }
                @else if (transaction.currentStep === 4 && transaction.buyer === loggedInUser){
                  <span class="pending-receive-item">pending receive item</span>
                }
              </div>
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        Completed
        <span
          matBadge="{{ transactionsCompleted.length }}"
          matBadgeOverlap="false"
          matBadgePosition="below after"
        ></span>
      </ng-template>
      <mat-list role="list">
        @for(transaction of transactionsCompleted; track
        transaction.transactionID){
        <mat-list-item
          role="listitem"
          class="list-item"
          [routerLink]="['/transaction-parent', transaction.transactionID]"
        >
          <div class="list-content">
            <img
              [src]="transaction.game.gameImagePath"
              alt="game"
              class="game-image"
            />
            <div class="transaction-info">
              <span class="game-name">{{ transaction.game.gameName }}</span>
              <span class="transaction-id"
                >ID {{ transaction.transactionID }}</span
              >
              <span class="completed-date">{{
                transaction.transactionSteps.transactionStep4.completedDate| date }}</span>
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        All
        <span
          matBadge="{{ transactions.length }}"
          matBadgeOverlap="false"
          matBadgePosition="below after"
        ></span>
      </ng-template>
      <mat-list role="list">
        @for(transaction of transactions; track transaction.transactionID){
        <mat-list-item
          role="listitem"
          class="list-item"
          [routerLink]="['/transaction-parent', transaction.transactionID]"
        >
          <div class="list-content">
            <img
              [src]="transaction.game.gameImagePath"
              alt="game"
              class="game-image"
            />
            <div class="transaction-info">
              <span class="game-name">{{ transaction.game.gameName }}</span>
              <span class="transaction-id"
                >ID {{ transaction.transactionID }}</span
              >
              <span class="created-date">
                {{transaction.transactionSteps.transactionStep1.createdDate | date}}
              </span>
              <!-- <span class="status">
                @if(transaction.currentStep === 2){
                  pending accept trade
                }
                @else if (transaction.currentStep === 3 && transaction.buyer != loggedInUser){
                  pending {{transaction.buyer}} payment
                }
                @else if (transaction.currentStep === 4 ){
                  pending {{transaction.buyer}} confiment
                }
                @else if (transaction.currentStep === 5){
                  completed
                }
              </span> -->
            </div>
          </div>
        </mat-list-item>
        }
      </mat-list>
    </mat-tab>
  </mat-tab-group>
  @if(transactions.length === 0){
    <div class="no-trades">
      <h3>You have no trades yet</h3>
      <button mat-stroked-button type="button"
      [routerLink]="['/transaction-parent']"
      >New Trade
    </button>
    </div>
  }
</div>
