<h1>transaction parent</h1>
<mat-horizontal-stepper linear #stepper>
    <mat-step label="Step 1">
        <app-transaction-step1></app-transaction-step1>
    </mat-step>
    <mat-step label="Step 2">
        <app-transaction-step2></app-transaction-step2>
    </mat-step>
    <mat-step label="Step 3">
        <app-transaction-step3></app-transaction-step3>
    </mat-step>
    <mat-step label="Step 4">
        <app-transaction-step4></app-transaction-step4>
    </mat-step>
    <mat-step label="Step 5">
        <app-transaction-step5></app-transaction-step5>
    </mat-step>
</mat-horizontal-stepper>
