.intro {
  text-align: center;
  padding: 60px 20px;
}

.intro-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color:white
}

 .highlight {
    color: cyan; /* Bright green to make it stand out */
    font-size: 52px; /* Slightly larger font */
    font-weight: 900; /* Extra-bold weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow effect */
    text-decoration:wavy
  }

.intro-content p {
  font-size: 18px;
  margin-bottom: 30px;
  
}

.intro-content button {
  font-size: 16px;
  padding: 10px 20px;
}

.transaction-overview{
  text-align: center;
  font-size: 32px;

}

.escrow-steps {
  display: flex;

}

.step {
  text-align: center;
  flex: 1 ;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: none; 
  background-color:transparent;
  color: #333;

}

.step h3 {
  // margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;

}

svg {
  border: 3px solid #808080; /* Circle border around the SVG */
  border-radius: 80%;
  border-color: cyan;
  padding: 20px;
}

mat-divider {
  border-color: cyan; /* Set the color of the divider */
}

.game-list {
  margin: 20px;
}

.game-tile {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensures consistent layout within tiles */
  height: 100%;
}

.game-image {
  width: 80px;
  height: 80px;
  object-fit: cover; /* Ensures the image fits within the given dimensions */
  margin-bottom: 10px;
}

.game-title {
  font-size: 16px;
  color: white;
  margin: 0;
  text-align: center;
}

.game-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}