

.intro {
  text-align: center;
  // background: linear-gradient(90deg, #1e90ff, #8a2be2);
  // color: white;
  padding: 60px 20px;
}

.intro-content h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color:goldenrod
}

.intro-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

.intro-content button {
  font-size: 16px;
  padding: 10px 20px;
}

.transaction-overview{
  text-align: center;
  font-size: 32px;

}

.escrow-steps {
  display: flex;

}

.step {
  text-align: center;
  flex: 1 ;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: none; 
  background-color:transparent;
  color: #333;

}

.step h3 {
  // margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;

}

svg {
  border: 3px solid #808080; /* Circle border around the SVG */
  border-radius: 80%;
  border-color: cyan;
  padding: 20px;
}

mat-divider {
  border-color: cyan; /* Set the color of the divider */
}

