<!-- @if(userID && transaction){
    <h3>Completed</h3>
    @if(userID === transaction.buyer){
        <p>You confirmed the receipt of {{transaction.game.gameName}} item on {{transaction.transactionSteps.transactionStep4.completedDate}}</p>
    }
    @else if(userID === transaction.seller){
        <p>Buyer {{transaction.buyer}} confirmed item was received on {{transaction.transactionSteps.transactionStep4.completedDate}}</p>
    }
}
@else {
    <p>Something went wrong..</p>
} -->

<h2>Completed</h2>
@if(userID === transaction.buyer){
    <p>You confirmed the receipt of {{transaction.game.gameName}} 
        {{transaction.game.assetType === 'account' ? 'account' : 'item'}}
        on
         {{transaction.transactionSteps.transactionStep4.completedDate | date}}</p>
}
@else {
    <p>
        <mat-icon class="person-icon">person</mat-icon>
        <span class="buyer">
            {{transaction.buyer}} 
        </span>
        confirmed
        {{transaction.game.assetType === 'account' ? 'account' : 'item'}}
        was received on 
         {{transaction.transactionSteps.transactionStep4.completedDate | date}}
    </p>
}