.step4-buyer-container{
    text-align: center;
}

h2 {
    text-align: center;
    color: #FDF5E6;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFEB99;
  }

.person-icon {
    vertical-align: middle;
}
.seller{
    font-weight: bold;
    color: cyan;
}

.game-image {
    height: 1.8em;
    vertical-align: middle;
    border-radius: 50%
  }


.confirm-item-received-btn{
    border: 2px solid cyan;
}


.failure-msg {
    color: red;
    text-align: center;
  }