<div>
    <h3>{{transaction.transactionID}}</h3>
    <p>Buyer: {{transaction.buyer}}</p>
    <p>Seller: {{transaction.seller}}</p>
    <p>Game: {{transaction.game.gameName}}</p>
    <p>Game Asset: {{transaction.game.assetType}}</p>
    @if(transaction.game.assetName){
        <p>Asset Name: {{transaction.game.assetName}}</p>
    }
    @else if(transaction.game.assetQuantity){
        <p>Asset Quantity: {{transaction.game.assetQuantity}}</p>        
    }
    <p>Price: {{transaction.price}}</p>
</div>